	.content
	{
		/* fixed width on larger screens */ 
		max-width: 768px;
		
		/* centered */
		margin-left: auto;
		margin-right: auto;
	}
	.status-table
	{
		/* full width with 1em margin (left, right and top) */
		table-layout: fixed;
		margin: auto;
		margin-top: 1em;
		width: calc(100% - 2em);
	}
	.status-table td
	{
		/* status tables nicely split in half */
		width: 50%;
	}
	 .button-custom-disabled {
                                color: black;
                                background: rgba(128, 167, 92, 0);
                                cursor: not-allowed;
                            }
                            
                            .button-custom-disabled:hover {
                                color: black;
                                background: rgba(128, 167, 92, 0);
                                cursor: not-allowed;
                            }